/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 avr. 2022, 15:30:28
    Author     : mario
*/

body /*Propriétés pour le body (Toute la page affichée)*/ 
{ 
    width: auto;
    margin: auto;
    padding: 0px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: azure;
}

#menu /*Propriétés pour le menu*/
{
    float: left;
    width: auto;
    height: auto;
    background-color: blue;
}

#menu ul li /*Propriétés de la liste du menu*/
{ 
    float: left;
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 5px;
    padding-right: 5px;
    list-style: none;   
}

#Corps /*Propriétés pour le corps*/
{
    width: auto;
    height: auto;
}

#image /*Propriétés des images*/
{
    border: 1px black groove;
    border-radius: 10px;
    transition: transform .75s;
}

#image /*Zoom sur l'image lors du survol avec la souris*/
{
    transform: scale(1.15);
}

h1 /*Propriétés pour le texte du menu*/
{
    text-decoration: none;
    color: white;
    font-size: large;
}

h2  /*Propriétés du titre de la page*/
{
    text-align: center;
    color: royalblue;
    background-color: #99ccff;
}

h3 /*Propriétés pour les descriptifs des images*/
{
    font-size: medium;
}

#pied-de-page /*propriétés du pied de page*/
{
    background-color: blue;
    color: white;
    text-align: center;
}